In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies_db = pd.read_csv("movies.csv")
credits_db = pd.read_csv("credits.csv")

In [3]:
movies_db.info()
credits_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [4]:
movies_db.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits_db.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies = movies_db.merge(credits_db,on="title")

In [7]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [9]:
# genres,id,keywords,title,overview,cast,crew
movies = movies[['id','genres','keywords','title','overview','cast','crew']]

In [10]:
movies.head(1)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   genres    4809 non-null   object
 2   keywords  4809 non-null   object
 3   title     4809 non-null   object
 4   overview  4806 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [12]:
movies = movies.dropna()
movies.shape

(4806, 7)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [16]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [17]:
movies['keywords'] = movies['keywords'].apply(convert)
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies.head(2)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [19]:
def convert5(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            l.append(i['name'])
            counter += 1
        else:
            break
    return l

In [20]:
movies['cast'] = movies['cast'].apply(convert5)

In [21]:
movies.head(1)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
def getDirector(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [23]:
movies['crew'] = movies['crew'].apply(getDirector)

In [24]:
movies.head(3)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]

In [25]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [26]:
movies.head(3)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]

In [27]:
def removeSpaces(obj):
    list = []
    for i in obj:
        list.append("".join(i.split()))
    return list

In [28]:
movies['cast'] = movies['cast'].apply(removeSpaces)

In [29]:
movies.head(2)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[Gore Verbinski]

In [30]:
movies['crew'] = movies['crew'].apply(removeSpaces)
movies['genres'] = movies['genres'].apply(removeSpaces)
movies['keywords'] = movies['keywords'].apply(removeSpaces)

In [31]:
movies.head(2)

,id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

In [32]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew'] + movies['overview']

In [33]:
movies.head(2)

,id,genres,keywords,title,overview,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Adventure, Fantasy, Action, ocean, drugabuse,..."

In [34]:
new_df = movies[['id','title','tags']]

In [35]:
new_df

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstates–mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, EdwardBurns, KerryBishé, Mar..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4807,126186,Shanghai Calling,"[DanielHenney, ElizaCoupe, BillPaxton, AlanRuc..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

In [36]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\surya\AppData\Local\Temp/ipykernel_14052/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [37]:
new_df.head(2)['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez JamesCameron In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [38]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\surya\AppData\Local\Temp/ipykernel_14052/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [39]:
new_df.head(2)['tags'][0]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [41]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [42]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [43]:
vectors.shape

(4806, 5000)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarity = cosine_similarity(vectors)

In [54]:
list(enumerate(similarity[0]))

[(0, 1.0),
 (1, 0.08458258116519013),
 (2, 0.058123819371909635),
 (3, 0.03822198817224581),
 (4, 0.1754942736973651),
 (5, 0.1139901881468883),
 (6, 0.022371868507134143),
 (7, 0.1678603981989089),
 (8, 0.06105625108726635),
 (9, 0.07352146220938079),
 (10, 0.11115400287534567),
 (11, 0.07897471897389846),
 (12, 0.09158437663089952),
 (13, 0.04604092555161308),
 (14, 0.10959932487023819),
 (15, 0.050141221056390024),
 (16, 0.07798128673650545),
 (17, 0.14384911389218763),
 (18, 0.10887588907733556),
 (19, 0.08561170049453902),
 (20, 0.0558435593287455),
 (21, 0.0885807893036239),
 (22, 0.0685591170191061),
 (23, 0.09320546490018),
 (24, 0.05479966243511909),
 (25, 0.037229039552497),
 (26, 0.16439898730535726),
 (27, 0.1823843010350213),
 (28, 0.1144727614064285),
 (29, 0.06974858324629157),
 (30, 0.07045670884515312),
 (31, 0.1526406277181659),
 (32, 0.08787495503274936),
 (33, 0.09863939238321438),
 (34, 0.0),
 (35, 0.10514994558491725),
 (36, 0.18668326147193276),
 (37, 0.08585457105482137),
 (38, 0.06070834938872646),
 (39, 0.08585457105482137),
 (40, 0.0533380747062665),
 (41, 0.13949716649258315),
 (42, 0.0),
 (43, 0.11624763874381928),
 (44, 0.07543142864047142),
 (45, 0.08948747402853657),
 (46, 0.16673100431301852),
 (47, 0.2071232553337333),
 (48, 0.06420877537090426),
 (49, 0.06003002251876642),
 (50, 0.11810771907149853),
 (51, 0.08419653359482289),
 (52, 0.14097096860865022),
 (53, 0.050141221056390024),
 (54, 0.03287979746107146),
 (55, 0.0759326396601999),
 (56, 0.1677890138035061),
 (57, 0.028618190351607124),
 (58, 0.04559607525875532),
 (59, 0.07696578428840449),
 (60, 0.028194193721730043),
 (61, 0.21524880100025257),
 (62, 0.07352146220938077),
 (63, 0.08867021970429453),
 (64, 0.029526929767874632),
 (65, 0.020084532931834775),
 (66, 0.023980056885558418),
 (67, 0.16916516233038026),
 (68, 0.1289651760438322),
 (69, 0.049820416604493975),
 (70, 0.08219949365267865),
 (71, 0.07897471897389846),
 (72, 0.11624763874381927),
 (73, 0.036760731104690386),
 (74, 0.22056438662814232),
 (75, 0.09158437663089952),
 (76, 0.07435223956449145),
 (77, 0.014363606211965715),
 (78, 0.05134961659630968),
 (79, 0.07521183158458504),
 (80, 0.03338437626246901),
 (81, 0.11314714296070713),
 (82, 0.07897471897389846),
 (83, 0.21582051197002577),
 (84, 0.14165281524036175),
 (85, 0.10283867552865913),
 (86, 0.08458258116519013),
 (87, 0.11277677488692017),
 (88, 0.0885807893036239),
 (89, 0.06003002251876642),
 (90, 0.06327719971683327),
 (91, 0.1553424415003),
 (92, 0.06839411288813299),
 (93, 0.04956815970966097),
 (94, 0.1526406277181659),
 (95, 0.11990028442779209),
 (96, 0.08585457105482137),
 (97, 0.07352146220938079),
 (98, 0.08585457105482137),
 (99, 0.05723638070321425),
 (100, 0.0685591170191061),
 (101, 0.08336550215650926),
 (102, 0.10793322294408637),
 (103, 0.08561170049453902),
 (104, 0.05723638070321425),
 (105, 0.10067340828210367),
 (106, 0.04280585024726951),
 (107, 0.08948747402853657),
 (108, 0.162746694241347),
 (109, 0.07749842582921286),
 (110, 0.023980056885558418),
 (111, 0.1453095484297741),
 (112, 0.0885807893036239),
 (113, 0.050734628943184104),
 (114, 0.050141221056390024),
 (115, 0.0533380747062665),
 (116, 0.055577001437672836),
 (117, 0.059053859535749265),
 (118, 0.017047380849825593),
 (119, 0.04697113923010208),
 (120, 0.0),
 (121, 0.08585457105482137),
 (122, 0.09158437663089952),
 (123, 0.1186447494690624),
 (124, 0.06650266477822091),
 (125, 0.07767122075015),
 (126, 0.11115400287534567),
 (127, 0.13200500012082497),
 (128, 0.0),
 (129, 0.10269923319261937),
 (130, 0.030528125543633176),
 (131, 0.106676149412533),
 (132, 0.06774581282657174),
 (133, 0.03163859985841663),
 (134, 0.12655439943366653),
 (135, 0.0),
 (136, 0.025070610528195012),
 (137, 0.03321361106966265),
 (138, 0.08108108108108109),
 (139, 0.10356162766686666),
 (140, 0.048478616556371965),
 (141, 0.11028219331407116),
 (142, 0.09320546490018),
 (143, 0.06711560552140243),
 (144, 0.0533380747062665),
 (145, 0.021586644588817275),
 (146, 0.016606805534831324),
 (147, 0.06003002251876642),
 (148, 0.10067340828210367),
 (149, 0.16569860426698665),
 (150, 0.1821250481661794),
 (151, 0.18857857160117855),
 (152, 0.06003002251876642),
 (153, 0.08284930213349333),
 (154, 0.03163859985841663),
 (155, 0.0),
 (156, 0.06532553344640132),
 (157, 0.10067340828210367),
 (158, 0.14543584966911588),
 (159, 0.0644825880219161),
 (160, 0.0930725988812425),
 (161, 0.03427955850955305),
 (162, 0.03504998186163908),
 (163, 0.051987524491003634),
 (164, 0.0885807893036239),
 (165, 0.047457899787624956),
 (166, 0.1144727614064285),
 (167, 0.0644825880219161),
 (168, 0.1522038868295523),
 (169, 0.11624763874381928),
 (170, 0.08787495503274936),
 (171, 0.029061909685954818),
 (172, 0.14704292441876154),
 (173, 0.023980056885558418),
 (174, 0.10529962529853128),
 (175, 0.04956815970966097),
 (176, 0.03001501125938321),
 (177, 0.0),
 (178, 0.024784079854830485),
 (179, 0.07352146220938077),
 (180, 0.02279803762937766),
 (181, 0.022581937608857246),
 (182, 0.10529962529853128),
 (183, 0.07174960033341753),
 (184, 0.1754942736973651),
 (185, 0.0533380747062665),
 (186, 0.03929887459459296),
 (187, 0.13513513513513514),
 (188, 0.022167554926073633),
 (189, 0.07543142864047142),
 (190, 0.07974522228289),
 (191, 0.04956815970966097),
 (192, 0.0),
 (193, 0.08561170049453902),
 (194, 0.0),
 (195, 0.06105625108726635),
 (196, 0.055577001437672836),
 (197, 0.047457899787624956),
 (198, 0.05723638070321425),
 (199, 0.1139901881468883),
 (200, 0.07352146220938077),
 (201, 0.0),
 (202, 0.03224129401095805),
 (203, 0.08336550215650926),
 (204, 0.02567480829815484),
 (205, 0.08219949365267865),
 (206, 0.13678822577626595),
 (207, 0.08336550215650926),
 (208, 0.1643989873053573),
 (209, 0.03504998186163908),
 (210, 0.051987524491003634),
 (211, 0.02632490632463282),
 (212, 0.07521183158458504),
 (213, 0.06314740019611717),
 (214, 0.028618190351607124),
 (215, 0.07194017065667525),
 (216, 0.06327719971683327),
 (217, 0.04433510985214727),
 (218, 0.039872611141445),
 (219, 0.06213697660012),
 (220, 0.1771615786072478),
 (221, 0.023728949893812478),
 (222, 0.08787495503274936),
 (223, 0.08108108108108109),
 (224, 0.06117355427146393),
 (225, 0.050734628943184104),
 (226, 0.028618190351607124),
 (227, 0.0885807893036239),
 (228, 0.12392039927415242),
 (229, 0.07696578428840449),
 (230, 0.0863465783552691),
 (231, 0.0),
 (232, 0.11624763874381927),
 (233, 0.10762440050012628),
 (234, 0.06532553344640132),
 (235, 0.058123819371909635),
 (236, 0.09004503377814962),
 (237, 0.06711560552140244),
 (238, 0.12329924047901797),
 (239, 0.10793322294408637),
 (240, 0.050141221056390024),
 (241, 0.08336550215650926),
 (242, 0.08718572905786445),
 (243, 0.09592022754223367),
 (244, 0.06105625108726635),
 (245, 0.0885807893036239),
 (246, 0.06367145399670132),
 (247, 0.0),
 (248, 0.04559607525875532),
 (249, 0.1371182340382122),
 (250, 0.0),
 (251, 0.03874921291460643),
 (252, 0.02196873875818734),
 (253, 0.06711560552140243),
 (254, 0.07897471897389846),
 (255, 0.0),
 (256, 0.07543142864047142),
 (257, 0.08336550215650926),
 (258, 0.022371868507134143),
 (259, 0.06213697660012),
 (260, 0.23621543814299706),
 (261, 0.024507154069793594),
 (262, 0.07194017065667525),
 (263, 0.10067340828210367),
 (264, 0.0),
 (265, 0.027788500718836418),
 (266, 0.10529962529853128),
 (267, 0.07174960033341753),
 (268, 0.025993762245501817),
 (269, 0.03163859985841663),
 (270, 0.09802861627917438),
 (271, 0.07435223956449145),
 (272, 0.029526929767874632),
 (273, 0.023249527748763855),
 (274, 0.07837414205275961),
 (275, 0.12006004503753284),
 (276, 0.0644825880219161),
 (277, 0.06367145399670132),
 (278, 0.09913631941932194),
 (279, 0.10028244211278005),
 (280, 0.0),
 (281, 0.07045670884515312),
 (282, 0.029526929767874632),
 (283, 0.0),
 (284, 0.01964943729729648),
 (285, 0.021402925123634755),
 (286, 0.02196873875818734),
 (287, 0.02567480829815484),
 (288, 0.0),
 (289, 0.048478616556371965),
 (290, 0.06213697660012),
 (291, 0.05405405405405406),
 (292, 0.0949157995752499),
 (293, 0.029526929767874632),
 (294, 0.1144727614064285),
 (295, 0.106676149412533),
 (296, 0.04016906586366955),
 (297, 0.047457899787624956),
 (298, 0.0),
 (299, 0.03958262466638396),
 (300, 0.17757120130114434),
 (301, 0.17684493567566834),
 (302, 0.059053859535749265),
 (303, 0.029061909685954818),
 (304, 0.06931669932133817),
 (305, 0.18641092980036),
 (306, 0.09004503377814962),
 (307, 0.10067340828210367),
 (308, 0.06575959492214292),
 (309, 0.06327719971683327),
 (310, 0.03504998186163908),
 (311, 0.15042366316917005),
 (312, 0.10810810810810811),
 (313, 0.07749842582921286),
 (314, 0.0),
 (315, 0.09004503377814962),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.06711560552140244),
 (320, 0.03427955850955305),
 (321, 0.0),
 (322, 0.213352298825066),
 (323, 0.03224129401095805),
 (324, 0.02567480829815484),
 (325, 0.10514994558491725),
 (326, 0.056388387443460086),
 (327, 0.028618190351607124),
 (328, 0.0),
 (329, 0.07897471897389846),
 (330, 0.106676149412533),
 (331, 0.04901430813958719),
 (332, 0.1389425035941821),
 (333, 0.029061909685954818),
 (334, 0.10397504898200727),
 (335, 0.0533380747062665),
 (336, 0.07174960033341753),
 (337, 0.023249527748763855),
 (338, 0.0),
 (339, 0.0533380747062665),
 (340, 0.050734628943184104),
 (341, 0.06003002251876642),
 (342, 0.1311450235388945),
 (343, 0.022167554926073633),
 (344, 0.030528125543633176),
 (345, 0.022581937608857246),
 (346, 0.0),
 (347, 0.0),
 (348, 0.06213697660012),
 (349, 0.0885807893036239),
 (350, 0.05264981264926564),
 (351, 0.0),
 (352, 0.029061909685954818),
 (353, 0.02302046277580654),
 (354, 0.0),
 (355, 0.03902114055192843),
 (356, 0.09004503377814962),
 (357, 0.0),
 (358, 0.0644825880219161),
 (359, 0.03355780276070122),
 (360, 0.0),
 (361, 0.055577001437672836),
 (362, 0.09320546490018),
 (363, 0.08867021970429453),
 (364, 0.025070610528195012),
 (365, 0.07897471897389846),
 (366, 0.058123819371909635),
 (367, 0.0),
 (368, 0.1289651760438322),
 (369, 0.09004503377814962),
 (370, 0.05405405405405406),
 (371, 0.10028244211278005),
 (372, 0.051987524491003634),
 (373, 0.1677890138035061),
 (374, 0.04317328917763455),
 (375, 0.042098266797411445),
 (376, 0.04649905549752771),
 (377, 0.0),
 (378, 0.0),
 (379, 0.05170108966939356),
 (380, 0.02702702702702703),
 (381, 0.08219949365267865),
 (382, 0.0),
 (383, 0.04956815970966097),
 (384, 0.03163859985841663),
 (385, 0.0),
 (386, 0.02302046277580654),
 (387, 0.025993762245501817),
 (388, 0.0),
 (389, 0.09863939238321438),
 (390, 0.02702702702702703),
 (391, 0.05937393699957594),
 (392, 0.03001501125938321),
 (393, 0.0),
 (394, 0.024784079854830485),
 (395, 0.055577001437672836),
 (396, 0.02279803762937766),
 (397, 0.0533380747062665),
 (398, 0.0),
 (399, 0.024507154069793594),
 (400, 0.09863939238321438),
 (401, 0.030528125543633176),
 (402, 0.058123819371909635),
 (403, 0.10793322294408637),
 (404, 0.0644825880219161),
 (405, 0.030528125543633176),
 (406, 0.020878692266483083),
 (407, 0.024784079854830485),
 (408, 0.03427955850955305),
 (409, 0.0),
 (410, 0.09802861627917438),
 (411, 0.05479966243511909),
 (412, 0.09802861627917438),
 (413, 0.13699915608779772),
 (414, 0.03163859985841663),
 (415, 0.06970503120754849),
 (416, 0.05479966243511909),
 (417, 0.03287979746107146),
 (418, 0.03587480016670876),
 (419, 0.07271792483455794),
 (420, 0.12119654139092992),
 (421, 0.0),
 (422, 0.1371182340382122),
 (423, 0.050734628943184104),
 (424, 0.03902114055192843),
 (425, 0.06839411288813299),
 (426, 0.05937393699957594),
 (427, 0.03106848830006),
 (428, 0.057724338216303364),
 (429, 0.0),
 (430, 0.05134961659630968),
 (431, 0.025070610528195012),
 (432, 0.1211965413909299),
 (433, 0.03106848830006),
 (434, 0.0),
 (435, 0.036760731104690386),
 (436, 0.0),
 (437, 0.027788500718836418),
 (438, 0.02702702702702703),
 (439, 0.029061909685954818),
 (440, 0.02702702702702703),
 (441, 0.029061909685954818),
 (442, 0.047457899787624956),
 (443, 0.05723638070321425),
 (444, 0.0),
 (445, 0.027788500718836418),
 (446, 0.025070610528195012),
 (447, 0.02302046277580654),
 (448, 0.025070610528195012),
 (449, 0.05723638070321425),
 (450, 0.024784079854830485),
 (451, 0.025070610528195012),
 (452, 0.03106848830006),
 (453, 0.025993762245501817),
 (454, 0.12253577034896797),
 (455, 0.025070610528195012),
 (456, 0.06839411288813299),
 (457, 0.08336550215650926),
 (458, 0.04604092555161308),
 (459, 0.03427955850955305),
 (460, 0.02702702702702703),
 (461, 0.17937400083354382),
 (462, 0.0),
 (463, 0.03355780276070122),
 (464, 0.0),
 (465, 0.0),
 (466, 0.20567735105731827),
 (467, 0.08867021970429453),
 (468, 0.028618190351607124),
 (469, 0.06906138832741962),
 (470, 0.047457899787624956),
 (471, 0.07897471897389846),
 (472, 0.08108108108108109),
 (473, 0.09695723311274393),
 (474, 0.0),
 (475, 0.06590621627456203),
 (476, 0.09672388203287416),
 (477, 0.0),
 (478, 0.03902114055192843),
 (479, 0.09248165577087424),
 (480, 0.050734628943184104),
 (481, 0.0),
 (482, 0.029061909685954818),
 (483, 0.1221125021745327),
 (484, 0.03355780276070122),
 (485, 0.05405405405405406),
 (486, 0.056949479745149925),
 (487, 0.1342312110428049),
 (488, 0.074458079104994),
 (489, 0.0),
 (490, 0.14349920066683505),
 (491, 0.08867021970429453),
 (492, 0.06105625108726635),
 (493, 0.018735003362699218),
 (494, 0.0),
 (495, 0.20134681656420733),
 (496, 0.0),
 (497, 0.0),
 (498, 0.07009996372327816),
 (499, 0.0),
 (500, 0.02702702702702703),
 (501, 0.08419653359482289),
 (502, 0.14704292441876157),
 (503, 0.07897471897389846),
 (504, 0.0),
 (505, 0.14349920066683505),
 (506, 0.03587480016670876),
 (507, 0.24840131369742968),
 (508, 0.10810810810810811),
 (509, 0.024507154069793594),
 (510, 0.10146925788636821),
 (511, 0.09004503377814962),
 (512, 0.058123819371909635),
 (513, 0.1144727614064285),
 (514, 0.055577001437672836),
 (515, 0.02666903735313325),
 (516, 0.024784079854830485),
 (517, 0.0),
 (518, 0.05405405405405406),
 (519, 0.0),
 (520, 0.0),
 (521, 0.027399831217559546),
 (522, 0.0),
 (523, 0.04956815970966097),
 (524, 0.0),
 (525, 0.023728949893812478),
 (526, 0.0),
 (527, 0.0),
 (528, 0.024239308278185982),
 (529, 0.12535305264097507),
 (530, 0.0949157995752499),
 (531, 0.04956815970966097),
 (532, 0.022371868507134143),
 (533, 0.0685591170191061),
 (534, 0.08219949365267865),
 (535, 0.106676149412533),
 (536, 0.07435223956449145),
 (537, 0.0685591170191061),
 (538, 0.0),
 (539, 0.24659848095803594),
 (540, 0.05479966243511909),
 (541, 0.0665026647782209),
 (542, 0.03958262466638396),
 (543, 0.08585457105482137),
 (544, 0.056388387443460086),
 (545, 0.027788500718836418),
 (546, 0.0685591170191061),
 (547, 0.08458258116519013),
 (548, 0.0),
 (549, 0.1211965413909299),
 (550, 0.02666903735313325),
 (551, 0.04355035563093422),
 (552, 0.0),
 (553, 0.030528125543633176),
 (554, 0.0),
 (555, 0.048131095111188946),
 (556, 0.028194193721730043),
 (557, 0.14097096860865022),
 (558, 0.0),
 (559, 0.03106848830006),
 (560, 0.04474373701426829),
 (561, 0.03587480016670876),
 (562, 0.03355780276070122),
 (563, 0.02632490632463282),
 (564, 0.09672388203287416),
 (565, 0.04393747751637468),
 (566, 0.023728949893812478),
 (567, 0.03001501125938321),
 (568, 0.1389425035941821),
 (569, 0.023728949893812478),
 (570, 0.07009996372327816),
 (571, 0.02122381799890044),
 (572, 0.08284930213349333),
 (573, 0.02196873875818734),
 (574, 0.047457899787624956),
 (575, 0.05405405405405406),
 (576, 0.027788500718836418),
 (577, 0.15007505629691606),
 (578, 0.04604092555161308),
 (579, 0.11624763874381927),
 (580, 0.023980056885558418),
 (581, 0.16120647005479025),
 (582, 0.2372894989381248),
 (583, 0.04956815970966097),
 (584, 0.04559607525875532),
 (585, 0.0),
 (586, 0.04355035563093422),
 (587, 0.07702442489446452),
 (588, 0.027399831217559546),
 (589, 0.09592022754223367),
 (590, 0.03355780276070122),
 (591, 0.07521183158458504),
 (592, 0.02632490632463282),
 (593, 0.0),
 (594, 0.051987524491003634),
 (595, 0.1316245316231641),
 (596, 0.09394227846020416),
 (597, 0.055577001437672836),
 (598, 0.03874921291460643),
 (599, 0.0325558506696506),
 (600, 0.07045670884515312),
 (601, 0.0356631475810746),
 (602, 0.04393747751637468),
 (603, 0.05479966243511909),
 (604, 0.06711560552140244),
 (605, 0.0),
 (606, 0.0),
 (607, 0.06420877537090426),
 (608, 0.0),
 (609, 0.04649905549752771),
 (610, 0.05937393699957594),
 (611, 0.023980056885558418),
 (612, 0.06906138832741962),
 (613, 0.036760731104690386),
 (614, 0.05723638070321425),
 (615, 0.03163859985841663),
 (616, 0.0),
 (617, 0.0533380747062665),
 (618, 0.09032775043542898),
 (619, 0.0),
 (620, 0.0),
 (621, 0.06711560552140244),
 (622, 0.02177517781546711),
 (623, 0.0),
 (624, 0.11028219331407116),
 (625, 0.030528125543633176),
 (626, 0.0885807893036239),
 (627, 0.11314714296070713),
 (628, 0.0),
 (629, 0.04956815970966097),
 (630, 0.025070610528195012),
 (631, 0.025993762245501817),
 (632, 0.08108108108108109),
 (633, 0.022371868507134143),
 (634, 0.08336550215650926),
 (635, 0.07194017065667525),
 (636, 0.027788500718836418),
 (637, 0.050141221056390024),
 (638, 0.03355780276070122),
 (639, 0.0),
 (640, 0.050734628943184104),
 (641, 0.0),
 (642, 0.0),
 (643, 0.10269923319261937),
 (644, 0.05479966243511909),
 (645, 0.04649905549752771),
 (646, 0.05479966243511909),
 (647, 0.050141221056390024),
 (648, 0.03163859985841663),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.023980056885558418),
 (653, 0.1162476387438193),
 (654, 0.08561170049453902),
 (655, 0.025367314471592052),
 (656, 0.0),
 (657, 0.05413539955388112),
 (658, 0.05134961659630968),
 (659, 0.02632490632463282),
 (660, 0.10067340828210367),
 (661, 0.16312947805723715),
 (662, 0.0),
 (663, 0.0),
 (664, 0.06213697660012),
 (665, 0.07610194341477616),
 (666, 0.050734628943184104),
 (667, 0.0),
 (668, 0.06575959492214292),
 (669, 0.03287979746107146),
 (670, 0.016866980208001866),
 (671, 0.07702442489446452),
 (672, 0.05723638070321425),
 (673, 0.022581937608857246),
 (674, 0.07435223956449145),
 (675, 0.04956815970966097),
 (676, 0.03224129401095805),
 (677, 0.02702702702702703),
 (678, 0.06105625108726635),
 (679, 0.0),
 (680, 0.08219949365267865),
 (681, 0.03355780276070122),
 (682, 0.023249527748763855),
 (683, 0.04901430813958719),
 (684, 0.0),
 (685, 0.03587480016670876),
 (686, 0.0),
 (687, 0.11624763874381927),
 (688, 0.048478616556371965),
 (689, 0.0),
 (690, 0.027399831217559546),
 (691, 0.09320546490018),
 (692, 0.1151023138790327),
 (693, 0.0),
 (694, 0.022581937608857246),
 (695, 0.06575959492214292),
 (696, 0.0),
 (697, 0.0),
 (698, 0.022581937608857246),
 (699, 0.0),
 (700, 0.029061909685954818),
 (701, 0.06327719971683327),
 (702, 0.023249527748763855),
 (703, 0.020391184757154644),
 (704, 0.07045670884515312),
 (705, 0.024239308278185982),
 (706, 0.025070610528195012),
 (707, 0.0),
 (708, 0.024507154069793594),
 (709, 0.0),
 (710, 0.04355035563093422),
 (711, 0.06213697660012),
 (712, 0.0),
 (713, 0.025993762245501817),
 (714, 0.0),
 (715, 0.10067340828210367),
 (716, 0.03287979746107146),
 (717, 0.0),
 (718, 0.04393747751637468),
 (719, 0.0),
 (720, 0.025993762245501817),
 (721, 0.03106848830006),
 (722, 0.0),
 (723, 0.025993762245501817),
 (724, 0.024784079854830485),
 (725, 0.0),
 (726, 0.0),
 (727, 0.035455197425947084),
 (728, 0.07118684968143743),
 (729, 0.0),
 (730, 0.018496331154174848),
 (731, 0.05264981264926564),
 (732, 0.07702442489446452),
 (733, 0.04355035563093422),
 (734, 0.048478616556371965),
 (735, 0.047960113771116836),
 (736, 0.03106848830006),
 (737, 0.07521183158458504),
 (738, 0.0),
 (739, 0.03587480016670876),
 (740, 0.12535305264097507),
 (741, 0.05479966243511909),
 (742, 0.03224129401095805),
 (743, 0.024784079854830485),
 (744, 0.0644825880219161),
 (745, 0.059053859535749265),
 (746, 0.08336550215650926),
 (747, 0.02302046277580654),
 (748, 0.03504998186163908),
 (749, 0.0),
 (750, 0.048478616556371965),
 (751, 0.03587480016670876),
 (752, 0.08000711205939975),
 (753, 0.028194193721730043),

In [46]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(507, 0.24840131369742968),
 (539, 0.24659848095803594),
 (1216, 0.24260844762468367),
 (1194, 0.23995690956687132),
 (582, 0.2372894989381248)]

In [47]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [48]:
 recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [49]:
import pickle

In [50]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [51]:
pickle.dump(similarity,open('similarity.pkl','wb'))